<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1>Flask</h1>
    <ul>
        {% if g.user %}
            <li><samp> {{ g.user['username'] }}</samp>
            <li><a href="{{ url_for('auth.logout') }}"</li>Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <h5><a href="https://www.facebook.com/Ukraine47">Developer - Roman Halychanivskyi </a></h5>
    <h5>Усі права захищені =) </h5>
</section>